annotated-types==0.7.0
anyio==4.7.0
autopep8==2.0.4
awscli==1.32.55
boto==2.49.0
boto3==1.34.55
botocore==1.34.55
certifi==2024.8.30
click==8.1.7
colorama==0.4.4
distlib==0.3.8
docutils==0.16
fastapi==0.115.6
filelock==3.16.1
h11==0.14.0
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.1
pipenv==2024.0.3
platformdirs==4.3.6
pluggy==1.5.0
pyasn1==0.5.1
pycodestyle==2.11.1
pydantic==2.10.3
pydantic_core==2.27.1
pytest==8.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.1
rkk==1.1.0
rsa==4.7.2
s3transfer==0.10.0
setuptools==69.0.3
six==1.16.0
sniffio==1.3.1
starlette==0.41.3
typing_extensions==4.12.2
urllib3==2.0.7
uvicorn==0.32.1
virtualenv==20.26.5
